@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans|Lora|Pacifico|Playfair+Display');




header {
	background-color: #192231; /*ganz gut, dunkel:#22252C,hell:#AE9C96   */
	position: fixed;
	width: 100%;
	z-index: 50;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

#hline {
	font-family: 'Dancing Script', cursive;
	text-shadow: 2px 2px 3px black, 0 0 45px #005aff, 0 0 2px darkblue;
	color: #c2d5ff;
	font-size: 60px;
	text-align: center;
}


open {
    background-color: #333333;
	color: #ffffff;
}


hidden {
	background-color: #28282a;
	color: #28282a;
}


taken {
	 background-color: #ffffff;
	 color: #ffffff;
}